<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2014 Stratio (http://stratio.com)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<Configuration status="INFO">
    <Properties>
        <Property name="logLevel">INFO</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="\t%highlight{%.20c{1}} - %highlight{%m}%n"/>
        </Console>
        <Console name="Hooks" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{   %msg%n}{INFO=blue}"/>
        </Console>
        <Console name="Steps" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{   %msg%n}{INFO=cyan}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${sys:logLevel}">
            <AppenderRef ref="Console"/>
        </Root>

        <logger name="com.stratio.qa.aspects.ReplacementAspect" level="INFO" additivity="false">
            <appender-ref ref="Steps"/>
        </logger>
        <logger name="com.stratio.qa.utils.CukesGHooks" level="INFO" additivity="false">
            <appender-ref ref="Hooks"/>
        </logger>
        <logger name="com.stratio.specs" level="DEBUG" additivity="false"/>

        <logger name="org.apache.zookeeper" level="OFF"/>
        <logger name="org.reflections.Reflections" level="WARN"/>
        <logger name="org.I0Itec.zkclient" level="WARN"/>
        <logger name="org.apache.kafka" level="WARN"/>
        <logger name="org.elasticsearch.plugins" level="WARN"/>
        <logger name="com.datastax.driver.core" level="OFF"/>
        <logger name="kafka.admin" level="OFF"/>
        <logger name="com.ning.http.client.AsyncHttpClientAsyncHttpClient" level="ERROR"/>

    </Loggers>
</Configuration>