body {
    margin: 1em auto;
    max-width: 60em;
    padding-bottom: 95vh;
    width: 88%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
}

h3 {
    text-decoration: underline;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: grey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

pre code {
    background-color: #2b2b2b;
    color: #9ba8b6;
    display: block;
    padding: 16px;
    overflow: auto;
    border-radius: 6px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.gherkin-keyword {
    color: #c47432;
}

gherkin-tag {
    color: #aca729;
}

.highlight-wrapper {
    display: block;
}

.highlight-wrapper {
    display: block;
}

.highlight {
    position: relative;
    z-index: 0;
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

.highlight > .chroma {
    color: #d0d0d0;
    background-color: #212121;
    position: static;
    z-index: 1;
    border-radius: 4px;
    padding: 10px;
}

.chroma {
    overflow: auto;
}

.chroma .lntable {
    display: table;
    width: 100%;
    padding: 0 0 5px;
    margin: 0;
    border-spacing: 0;
    border: 0;
    overflow: auto;
}

.chroma .lntd:first-child {
    padding: 7px 7px 7px 10px;
    margin: 0;
}

.chroma .lntd:last-child {
    padding: 7px 10px 7px 7px;
    margin: 0;
}

.copy-code-button {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 14px;
    width: 65px;
    color: white;
    background-color: #808080;
    border: 1.25px solid #232326;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    white-space: nowrap;
    padding: 4px 4px 5px 4px;
    margin: 0 0 0 1px;
    cursor: pointer;
    opacity: 0.6;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
    color: #222225;
    background-color: #b3b3b3;
    opacity: 0.8;
}

.copyable-text-area {
    position: absolute;
    height: 0;
    z-index: -1;
    opacity: 0.01;
}